.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.chill-navigation {
  margin: 10px;
}

.btn-big {
  background-color: #b71c1c;
  border-radius: 5px;
  padding: 10px;
  font-size: 22px;
  margin-left: 0px !important;
}

.update-new-anime {
  padding: 0px !important;
}

.list-product {
  padding: 0 0 0 12px !important;
}

.anime-card img {
  min-height: 240px;
}

.product-card {
  padding: 0px !important;
}

.anime-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.anime-card:hover {
  transform: scale(1.05);
}

.anime-card .p-1 {
  padding: 4px !important;
}

/* Badge đánh giá */
.badge-rating {
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
  font-size: 14px;
  border-radius: 5px;
}

/* Badge số tập */
.badge-episode {
  background: red;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

/* Thông tin anime */
.anime-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

/* Nút Play */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.39);
  padding: 10px 20px;
  border-radius: 50%;
  display: none;
}

.list-product {
  padding-bottom: 15px !important;
  justify-content: space-between;
}

/* Hiện nút Play khi hover */
.anime-card:hover .play-button {
  display: block;
}

/* btn xem them */
.xem-them-container {
  background-color: #191e21;
  padding: 5px !important;
  text-align: center;
}

/* Nút XEM THÊM */
.xem-them-btn {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.2s ease-in-out;
}

/* Hiệu ứng hover */
.xem-them-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Responsive */
@media (max-width: 720px) {
  .list-product {
    justify-content: center !important;
  }
}
