.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination-container button {
  background-color: #222; /* Màu nền tối */
  color: #fff; /* Màu chữ trắng */
  border: 1px solid #444; /* Viền xám đậm */
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.pagination-container button:hover {
  background-color: #d32f2f; /* Đổi màu khi hover */
  border-color: #d32f2f;
}

.pagination-container button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.pagination-container .btn-danger {
  background-color: #d32f2f; /* Nút đang active sẽ là màu đỏ */
  border-color: #d32f2f;
  font-weight: bold;
}
